SERVICE_NAME=toggle-api
APP_ENV=development

PORT_GRPC=8080
PORT_GRPC_GATEWAY=8081

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_NAME=toggle
POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN_LIFETIME=10m
POSTGRES_MAX_IDLE_LIFETIME=5m
POSTGRES_SSL_MODE=disable

COCKROACHDB_HOST=localhost
COCKROACHDB_PORT=26257
COCKROACHDB_USER=username
COCKROACHDB_PASSWORD=password
COCKROACHDB_NAME=toggle
COCKROACHDB_MAX_OPEN_CONNS=50
COCKROACHDB_MAX_CONN_LIFETIME=10m
COCKROACHDB_MAX_IDLE_LIFETIME=5m
COCKROACHDB_SSL_MODE=verify-full
COCKROACHDB_SSL_ROOT_CERT=/Users/yourname/.postgresql/root.crt
COCKROACHDB_OPTIONS=--cluster%3Dtoggle-123

REDIS_ADDRESS=localhost:6379
REDIS_TTL=5
REDIS_DB_SELECT=0
REDIS_CONCURRENCY=10

KAFKA_ADDRESS=localhost:9092
KAFKA_TOPIC=toggle
KAFKA_WRITE_TIMEOUT=5
KAFKA_MAX_ATTEMPTS=5
KAFKA_BATCH_SIZE=100
KAFKA_BATCH_TIMEOUT=1
KAFKA_WRITE_ASYNC=false

JAEGER_ENABLED=true
JAEGER_HOST=localhost
JAEGER_PORT=6831
JAEGER_SAMPLING_TYPE=const
JAEGER_SAMPLING_PARAM=1
JAEGER_LOG_SPANS=true
JAEGER_FLUSH_INTERVAL=1
